@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&display=swap');

:root {
    --accent100: hsl(158, 36%, 37%);
    --accent200: hsl(30, 38%, 92%);
    --accent300: hsl(0, 0%, 100%);

    --font100: hsl(212, 21%, 14%);
    --font200: hsl(228, 12%, 48%);

    --font-header: 'Fraunces';
    --font-text: 'Montserrat'
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: var(--accent200);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-text);
    font-size: calc(8px + 0.390625vw);
    position: relative;
}

.container {
    display: flex;
    border-radius: .5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
}

.thumb {
    background: url(images/image-product-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    flex: 1.5 1 0;
}

.info {
    flex: 1 1 0;
    background-color: var(--accent300);
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    padding: 2rem;
}

.info > * {
    margin: 1.4rem 0 0 0;
}

.info span:first-child {
    color: var(--font200);
    letter-spacing: .3rem;
    font-size: 60%;
}

.info h1 {
    font-size: calc(21px + 0.390625vw);
    font-family: var(--font-header);
    font-weight: 900;
    color: var(--font100);
}

.info p {
    color: var(--font200);
    line-height: 150%;
}

.price {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.price h1 {
    color: var(--accent100);
}

.price span {
    color: var(--font200);
    text-decoration: line-through;
}

button {
    width: 100%;
    background-color: var(--accent100);
    border: none;
    color: white;
    font-family: var(--font-text);
    font-size: calc(7px + 0.390625vw);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: calc(3px + 0.3vw);
    border-radius: .5rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--font100);
}

@media screen and (min-width: 50em) {
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 40%);
        width: 30%;
    }

    .thumb {
        background: url(images/image-product-mobile.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;
        flex: 1.2 1 0;
    }
}